.Header {
    width: 100%;
    height: 110px;
}
.header_white {
    width: 100%;
    height: 67px;
    background: #fff;
    display: flex;
    align-items: center;
}
.header_logo {
    margin-left: 14%;
}
.header_adds {
    margin-left:1%;
}
.header_whats {
    margin-left: 34%;
    margin-right: 0.3%;
    
}
.phone {
    display: flex;
    flex-direction: column;
    margin-right: 2%;
    span {
        display: none;
    }
}
.header_green {
    width: 100%;
    height: 43px;
    background: #1FA181;
}


.green_items {
    display: flex;
    gap: 30px;
    align-items: center;
    height: 100%;
    margin-left: 14%;
    /* justify-content: center; */
    /* height: 100%; */
    /* border: 1px solid red; */
    a {
        font-style: "PT Sans Caption";
        font-size: 16px;
        line-height: 24px;
        color: #fff;
        text-decoration: none;
    }
}