.Header {
    width: 100%;
    height: 110px;
}
.burger_icon {
    display: none;
}
.header_white {
    width: 100%;
    height: 67px;
    background: #fff;
    display: flex;
    align-items: center;
}
.header_logo {
    margin-left: 14%;
}
.header_adds {
    margin-left:1%;
}
.header_whats {
    margin-left: 34%;
    margin-right: 0.3%;
    
}
.phone {
    display: flex;
    flex-direction: column;
    margin-right: 2%;
    span {
        display: none;
    }
}
.header_green {
    width: 100%;
    height: 43px;
    background: #1FA181;
}


.green_items {
    display: flex;
    gap: 30px;
    align-items: center;
    height: 100%;
    margin-left: 14%;
    a {
        font-style: "PT Sans Caption";
        font-size: 16px;
        line-height: 24px;
        color: #fff;
        text-decoration: none;
    }
}
.contacts {
    display: flex;
    width: 200px;
}

@media screen and (max-width:768px) {
    .header {
        height: 375px;
    }
    .header_white {
        height: 100%;
        z-index: 100;
        display: flex;
        justify-content: space-around;
        button {
            display: none;
        }
        
    }
    .header_logo {
        margin: 0;
    }
    .header_whats {
        display: none;
    }
    .header_adds {
        display: none;
    }
    .phone {
        text-align: end;
        font-weight: bold;
        span {
            font-weight: 100;
            display: inline;
        }
    }
    .header_green {
        display: none;
    }
    .burger_icon {
        display: block;
        width: 40px;
        height: 40px;
        /* border: 1px solid black; */
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        span {
            display: block;
            width: 100%;
            height: 20%;
            background-color: #1FA181;
        }
    }
    .burger_item_1 {
        transform: translateY(16px) rotate(-45deg);
        transition: transform 0.3s, opacity 0.3s;
    }
    .burger_item_2 {
        opacity: 0;
    }
    .burger_item_3 {
        transform: translateY(-16px) rotate(45deg);
        transition: transform 0.3s, opacity 0.3s;
    }
    
}
@media screen and (min-width:769px) and (max-width:1200px) {
    .header_white {
        justify-content: space-around;
    }
    .header_whats {
        margin-left: 8%;
    }
    
}
@media screen and (min-width:1201px) {
    .header_white {
        justify-content: space-around;
    }
    
    .contacts {
        width: 22%;
    }
}