.footer {
    height: 144px;
    width: 100%;
    background: #08664f;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.logo {
    filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(276deg) brightness(200%) contrast(102%);
}
.wrapper {
    width: 6%;
    margin-left: 13%;
    display: flex;
    /* border: 1px solid black; */
    img {
        width: 92px;
        height: 27px;
        margin: 0 auto;
    }
}
.footer_links {
    width: 24%;
    display: flex;
    justify-content: space-between;
    /* border: 1px solid red; */
    a {
        width: 20%;
        font-size: 1rem;
        text-decoration: none;
        color: #fff;
    }
} 
.footer_m_links {
    display: none;
}
.social {
    width: 20%;
}
.icon {
    width: 35px;
    height: 35px;
    margin-left: 1%;
}

@media screen and (max-width:768px) {
    .footer {
        height: 291px;
        display: flex;
        /* align-items: center; */
        justify-content: space-between;
    }
    .wrapper {
        flex-direction: column;
        width: 40%;
        height: 80%;
        align-items: center;
        margin: 0;
    }
    .social {
        width: 40%;
        height: 80%;
        display: flex;
        gap: 10%;
    }
    .footer_links {
        display: none;
    }
    .footer_m_links {
        display: flex;
        margin-top: 10%;
        flex-direction: column;
        justify-content: space-between;
        height: 80%;
        a {
            color: #fff;
            text-decoration: none;
        }
    }
}