.popup {
    height: 100vh;
    width: 100vw;
    background: #08664f;
    /* background-color: grey; */
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}
.hidden {
    display: none;
}
.popup_content {
    width: 1140px;
    height: 392px;
    button {
        float: right;
        background: none;
        border: none;
        cursor: pointer;
        span {
            font-size: 30px;
            color: #fff;
        }
    }
}
.popup_form {
    width: 100%;
    height: 350px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #F8FBFA;
    gap: 140px;
    margin: 0 auto;
    margin-top: 42px;
}
.popup_inputs {
    display: flex;
    flex-direction: column;
    width: 40%;
    gap: 14px;
    input {
        border: #ebeeed;
        height: 41px;
    }
    button {
        margin:0 auto;
    }
}


@media screen and (max-width:768px) {
    
    .popup_content {
        width: 90%;
        height: 70%;
        .popup_button {
            position: absolute;
            margin-top: 60px;
            margin-left: 290px;
            transform: scale(2.1);
            span {
                color: #08664f;
            }
        }
    }
    .popup_form {
        flex-direction: column;
        height: 80%;
        justify-content:start;
        gap: 50px;
        background: #F8FBFA;
    }
    .popup_title {
        width: 90%;
        height: 30%;
        h1 {
            font-size: 26px;
        }
        span {
            display: block;
            width: 90%;
            height: 63px;
            font-size: 15px;
            line-height: 21px;
        }

    }
    .popup_inputs {
        width: 100%;
        align-items: center;
        input {
            width: 80%;
        }
    }
}